.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 2fr 1fr;
}





.about-us{
    background-color: #EE9972;
}

.about-us-inner > div {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
}

#about-title {
    font-size: 2rem;
    text-align: center;
}

/* Specific style for the hero reserve button */
.reserve-btn {
  background-color: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 700;
}

#specials {
    margin-left:2%;
    margin-right: 2%;
    background-color: lightgreen;
    border-radius: 12px;
}


/* Footer styles */
.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}